name: demo-in-readme
on: 
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"
      - "**.md"
env:
    #DIR_PREFIX: ${{secrets.DIR_PREFIX}}
    DIR_PREFIX: ${{vars.CI_PREFIX}}

jobs:
  check-requirements:
    runs-on: [lmtest]
    environment: prefix
    steps:
    - uses: actions/checkout@v3
      with:
         fetch-depth: 2
    - name: check-requirements
      run: |
        source activate internlm-env-test
        changed_files=$(git diff --name-only -r HEAD^1 HEAD)
        echo $changed_files
        if [[ $changed_files =~ "runtime.txt" ]]; then
          pip install -r requirements/runtime.txt
        fi

        if [[ $changed_files =~ "torch.txt"  ]]; then
          pip install -r requirements/torch.txt
        fi

  dataset-preparation:
    if: ${{ always() }}
    needs: check-requirements
    runs-on: [lmtest]
    environment: prefix
    steps:
    - uses: actions/checkout@v3

    - name: raw-chinese-data
      run: |
        source activate internlm-env-test
        echo "debuging"
        echo ${{secrets.DIR_PREFIX}}
        echo ${{vars.CI_PREFIX}}
        echo "debuging"
        sh ./ci_scripts/data/tokenizer_chinese.sh

    - name: alpaca-data
      run: |
        source activate internlm-env-test
        sh ./ci_scripts/data/tokenizer_alpaca.sh


  train:
    if: ${{ always() }}
    needs: check-requirements
    runs-on: [lmtest]
    environment: prefix
    steps:
    - uses: actions/checkout@v3

    - name: slurm-train
      run: |
        source activate internlm-env-test
        sh ./ci_scripts/train/slurm_train.sh
        rm -rf $GITHUB_WORKSPACE/llm_ckpts

    - name: torchrun-train
      run: |
        source activate internlm-env-test
        sh ./ci_scripts/train/torchrun.sh
        rm -rf $GITHUB_WORKSPACE/llm_ckpts

  convert-model-then-load:
    if: ${{ always() }}
    needs: check-requirements
    runs-on: [lmtest]
    environment: prefix
    steps:
    - uses: actions/checkout@v3

    - name: convert-model-then-load
      run: |
        source activate internlm-env-test
        export PYTHONPATH=$PWD:$PYTHONPATH
        sh ./ci_scripts/model/convert_to_hf.sh 
        cd ./hf_ckpt
        srun -p llm python ../ci_scripts/model/loaded_as_transformer.py
        cd ..
        rm -rf $GITHUB_WORKSPACE/hf_ckpt
  
  load-chat-model-in-hf:
    if: ${{ always() }}
    needs: check-requirements
    environment: prefix
    runs-on: [lmtest]
    steps:
    - uses: actions/checkout@v3

    - name: chat-model-in-hf
      run: |
        source activate internlm-env-test
        srun -p llm python ./ci_scripts/model/demo_load_7B_chat_model.py
